{% extends "base.html" %}

{% block extrahead %}
{{ super() }}
<!-- Umami tracking script -->
<script defer src="https://umami.lris625.top/script.js" data-website-id="ae020fdf-52f0-44d9-98b4-2bc8ac304803"></script>
<!-- Twikoo comment system -->
<script src="{{ base_url }}/js/twikoo.min.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div id="tcomment"></div>
<script>
twikoo.init({
  envId: 'https://twikoo.lris625.top/',
  el: '#tcomment',
  path: '/wiki' + location.pathname,
  lang: 'zh-CN',
})
</script>
{% endblock %}